.ER-icon {
  font-size: 14px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-flex;
  cursor: pointer;
  color: #666;
  outline: none;
  svg {
    width: 1em;
    height: 1em;
  }
  &.is-disabled {
    color: $disabled-color;
    cursor: not-allowed;
  }
}
