@include b(Blocks) {
  //border-right: 1px solid #ccc;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  .el-sub-menu__title {
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    .el-sub-menu__icon-arrow {
      color: #666666;
    }
  }
  .el-menu {
    border: none;
  }
  &>ul {
  }
  //@include e(menu) {
  //  border: none;
  //  padding: 0 8px;
  //}
  //@include e(icon) {
  //  color: #999999;
  //}
  .el-scrollbar {
    //height: calc(100% - 54px);
  }
  //@include e(device) {
  //  height: 52px;
  //  display: flex;
  //  justify-content: flex-end;
  //  align-items: center;
  //  border-top: 1px solid #DDDDDD;
  //  &>div{
  //    width: 78px;
  //    height: 36px;
  //    background: #F2F2F2;
  //    margin-right: 10px;
  //    border-radius: 6px;
  //    display: flex;
  //    align-items: center;
  //    &>*{
  //      text-align: center;
  //      flex: 1;
  //    }
  //  }
  //  .#{$namespace}-Icon {
  //    font-size: 20px;
  //    margin: 2px;
  //    border-radius: 6px;
  //  }
  //  .#{$namespace}-Icon.active {
  //    background: #fff;
  //    color: #000;
  //  }
  //}
  .#{$namespace}-DeviceSwitch {
    border-top: 1px solid #DDDDDD;
  }
  @include e(dragContent) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      border-radius: 4px;
      margin: 2px;
      background: #F9F9F9;
      font-size: 12px;
      cursor: grab;
      height: 34px;
      color: #333333;
      width: 48%;
      box-sizing: border-box;
      line-height: 34px;
      padding: 2px 10px;
      display: flex;
      .ER-icon {
        margin-right: 6px;
      }
      &[draggable="true"] {
        cursor: grabbing;
      }
    }
  }
}
