@include b(Canves) {
  padding: 0;
  .el-form-item__label {
    word-break: break-all;
    height: auto;
  }
  .el-form-item {
    align-items: start;
  }
  @include e(editModel) {
    height: calc(100% - 40px);
    .#{$namespace}-GridLayout__area {
      outline: 1px dashed #ddd;
    }
    &.#{$namespace}-Canves__mobile {
      .el-scrollbar {
        width: 400px;
        margin: 0 auto;
      }
      .Everright-editor-Canves__container {
        width: 750px;
        margin: 0 auto;
      }
      .van-cell-group {
        border-radius: 8px;
        //&>.#{$namespace}-selectElement{
        //  padding: 0;
        //}
      }
    }
  }
  @include e(container) {
    height: 100%;
    box-sizing: content-box;
  }
  @include e(subject) {
    margin: 0 28px 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }
  @include e(wrap) {
    margin: 0 10px;
    padding-top: 10px;
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    //height: 100%;
  }
  //@include e(mobile) {
  //}
  @include e(mobile_layoutType1) {
    //[data-layout-type="grid"] {}
    .#{$namespace}-GridLayout {
      width: 100%;
      .el-col {
        width: 100% !important;
        max-width: inherit;
        flex: 0 0 auto;
      }
    }
    .#{$namespace}-InlineLayout>div {
      flex-wrap: wrap;
      &>* {
        width: 100%;
      }
    }
  }
}
.Everright-editor-Canves-DropHere {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
