@include b(ConfigCheckboxComponent) {
  //padding: 16px;
  margin: 2px 0;
  @include e(open) {
    //background: #F9F9F9;
    //border-radius: 4px;
  }
  //@include e(label) {
  //  font-weight: bold;
  //  font-size: 14px;
  //}
  @include e(slot) {
    padding-top: 10px;
  }
  .el-checkbox{
    height: auto;
    padding: 10px 0;
  }
  .el-checkbox__label {
    text-wrap: wrap;
    line-height: 20px;
  }
}
