@include b(DeviceSwitch) {
  @include e(icon) {
    border: 1px solid #DDDDDD;
    &:first-child{
      border-right: 0;
      border-radius: 4px 0px 0px 4px;
      &.active+i {
        border-left-color: $primary-color;
      }
    }
    &:last-child{
      border-radius: 0px 4px 4px 0px;
    }
    &.active,&:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
  //height: 52px;
  //display: flex;
  //justify-content: flex-end;
  //align-items: center;
  //&>div{
  //  width: 78px;
  //  height: 36px;
  //  background: #F2F2F2;
  //  margin-right: 10px;
  //  border-radius: 6px;
  //  display: flex;
  //  align-items: center;
  //  &>*{
  //    text-align: center;
  //    flex: 1;
  //  }
  //}
  //@include e(icon) {
  //  color: #999999;
  //}
  //.#{$namespace}-DeviceSwitch__icon {
  //  font-size: 20px;
  //  margin: 2px;
  //  border-radius: 6px;
  //}
  //.#{$namespace}-DeviceSwitch__icon.active {
  //  background: #fff;
  //  color: #000;
  //}
}
