@include b(Fields) {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
  @include e(tabs) {
    height: 100%;
    .el-tab-pane {
      height: 100%;
    }
    .el-tabs__header {
      height: 40px;
      padding-left: 20px;
      margin: 0;
      z-index: 2;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      .el-tabs__nav-wrap::after {
        display: none;
      }
    }
    .el-tabs__content {
      height: calc(100% - 40px);
    }
  }
}
