//@use '../base' as *;
$namespace: 'Everright-formEditor';
@import './Main';
@import './DeviceSwitch';
@import './Fields';
@import './Canves';
@import './Config';
@import './ConfigData1';
@import './ConfigData2';
@import './ConfigData3';
@import './GlobalConfigPanel';
@import './PropsPanel';
@import './GridLayout';
@import './TableLayout';
@import './TabsLayout';
@import './CollapseLayout';
@import './InlineLayout';
@import './DragGableLayout';
@import './SelectElement';
@import './FormTypes/Signature';
@import './FormTypes/Radio';
@import './FormTypes/Checkbox';
@import './FormTypes/Cascader';
@import './FormTypes/Select';
@import './FormTypes/Slider';
@import './FormTypes/Html';
@import './FormTypes/Time';
@import './FormTypes/Date';
@import './FormTypes/Region';
@import './FormTypes/Number';
@import './FormTypes/Divider';
@import './ConfigBackground';
@import './ConfigBorder';
@import './ConfigAllsides';
@import './ConfigCheckboxComponent';
@import './ConfigGridLayoutComponent';
@import './ConfigCollapseComponent';
@import './ConfigTypeComponent';

