@include b(SectorButtonConfigPanel) {
  //display: flex;
  //@include e(background) {
  //  padding: 10px;
  //}
  //@include e(quickBackground) {
  //  ul{
  //    display: flex;
  //    height: 30px;
  //    li{
  //      flex: 1;
  //      margin-right: 1px;
  //      margin-bottom: 1px;
  //      cursor: pointer;
  //    }
  //  }
  //}
  //@include e(operation) {
  //  //border-bottom: 1px #000;
  //}
  //@include when(Selected) {
  //}
  //@include e(device) {
  //  .#{$namespace}-EverrightEditor__icon {
  //    font-size: 20px;
  //    margin: 2px;
  //    border-radius: 6px;
  //  }
  //  .#{$namespace}-EverrightEditor__icon.active {
  //    background: $primary-color;
  //    color: #ffffff;
  //  }
  //}
}
