@include b(selectElement) {
  padding: 8px;
  position: relative;
  outline-offset: -1px;
  box-sizing: border-box;
  @include e(mask) {
    content: ' ';
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    //height: calc(100vh - 124px);
  }
  @include e((hover,isScale)){
    background: #F2F8FF !important;
    &>.#{$namespace}-selectElement__topLeft,&>.#{$namespace}-selectElement__topRight,&>.#{$namespace}-selectElement__bottomRight {
      opacity: 1;
    }
  }
  @include when(Selected) {
    outline: 1px solid #ffbd00;
    //background: none !important;
    &>.#{$namespace}-selectElement__topLeft,&>.#{$namespace}-selectElement__topRight,&>.#{$namespace}-selectElement__bottomRight {
      opacity: 1;
    }
  }
  @include when(Warning) {
    outline: 1px solid #FD3E3E;
  }
  @include e(dragIcon) {
    color: #000000;
    padding: 0;
  }
  @include e((copyIcon, copyDelete, widthScale, tableOperator, charulieIcon, charuhang, charuhangIcon, dragIcon)) {
    border-radius: 4px;
    //box-shadow: 0 2px 6px #00000040;
    background: $primary-color;
    width: 24px;
    height: 24px;
    color: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //text-align: center;
    //line-height: 24px;
    margin: 0 4px;
  }
  @include e(widthScale) {
    cursor: col-resize;
  }
  @include e((topLeft,topRight,bottomRight)) {
    position: absolute;
    bottom: 0;
    height: 30px;
    display: flex;
    opacity: 0;
    align-items: center;
    z-index: 2;
  }
  @include e((topLeft)) {
    left: 0;
    top: 0px;
    height: 100%;
  }
  @include e(topRight) {
    right: 0;
    top: 0;
  }
  @include e(bottomRight) {
    right: 0;
    bottom: -15px;
  }
}
